@font-face {
    font-family: "Poppins";
    src: url(../font/Poppins-Black.ttf);
    src: url(../font/Poppins-Bold.ttf);
    src: url(../font/Poppins-ExtraBold.ttf);
    src: url(../font/Poppins-ExtraLight.ttf);
    src: url(../font/Poppins-Light.ttf);
    src: url(../font/Poppins-Medium.ttf);
    src: url(../font/Poppins-Regular.ttf);
    src: url(../font/Poppins-SemiBold.ttf);
    src: url(../font/Poppins-Thin.ttf);
    src: url(../font/);
}
:root{
    --green: #13AB4E;
    --grey: #333333;
    --white: #FFFFFF;
    --black: #000000;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}
.container{
    width: 1400px;
    padding: 0 135px;
    margin: 0 auto;
}
/* <!-- emprower  started --> */

/* <!-- emprower finished --> */



/* <!-- footer  started --> */

/* <!-- footer finished --> */