@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --green: #13AB4E;
    --grey: #333333;
    --white: #FFFFFF;
    --black: #000000;
    --footop:#25322E;
    --foobot: #1C2D29;
    --text-co: #BFBFBF;
    --inputcolor: #F7F8FA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* border: none; */
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.emprower-wrap .container {
    max-width: 1140px;
    margin: 0 auto;
}


/* <!-- emprower  started -->*/
.emprower-wrap .container {
    max-width: 1220px;
    padding: 100px 150px;
    margin: 0 auto;
}
.emprower-wrap .container .emp-big-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: var(--grey);
    margin-bottom: 16px;
}
.emprower-wrap .container .emp-small-text{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
text-align: center;
color: var(--grey);
}
.emprower-wrap .container form {
    background-color: #ccc;
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.emprower-wrap .container form label{
    padding-top: 16px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: var(--black);
display: block;
margin: 16px 0 12px 0;
}
.emprower-wrap .container form input{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color:var(--black);
padding: 20px 290px 20px 24px;
display: inline-block;
opacity: 0.3;
background-color:var(--inputcolor);
border-radius: 8px;
border: none;
display: block;
}
.emprower-wrap .container form select{
    padding: 20px 343px 20px 24px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color:var(--grey);
display: block;
border-radius: 8px;
border: none;
}
.emprower-wrap .container form .emp-btn{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
background-color: var(--green);
color:var(--white);
padding: 23px 196px;
border: none;
margin-top: 24px;
border-radius: 8px;
}
/* <!-- emprower  finished --> */

/* Large screen desktop @media started*/

@media screen and (min-width: 769px) and (max-width: 1025px) {
    .emprower-wrap .container {
        max-width: 700px;
        margin: 0 auto;
    }
    
    
    /* <!-- emprower  started -->*/
    .emprower-wrap .container {
        max-width: 1220px;
        padding: 100px 150px;
        margin: 0 auto;
    }
    .emprower-wrap .container .emp-big-text{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        color: var(--grey);
        margin-bottom: 16px;
    }
    .emprower-wrap .container .emp-small-text{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: var(--grey);
    }
    .emprower-wrap .container form {
        background-color: #ccc;
      
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    .emprower-wrap .container form label{
        padding-top: 16px;
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    display: block;
    margin: 16px 0 12px 0;
    }
    .emprower-wrap .container form input{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:var(--black);
    padding: 20px 40px 20px 24px;
    display: inline-block;
    opacity: 0.3;
    background-color:var(--inputcolor);
    border-radius: 8px;
    border: none;
    display: block;
    }
    .emprower-wrap .container form select{
        padding: 20px 250px 20px 24px;
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:var(--grey);
    display: block;
    border-radius: 8px;
    border: none;
    }
    .emprower-wrap .container form .emp-btn{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    background-color: var(--green);
    color:var(--white);
    padding: 23px 156px;
    border: none;
    margin-top: 24px;
    border-radius: 8px;
    } 
}

/* Large screen desktop @media finished*/



/* Tablet @media started*/

@media screen and (min-width: 481px) and (max-width: 768px) {
    .emprower-wrap .container {
        max-width: 700px;
        margin: 0 auto;
    }
    
    
    /* <!-- emprower  started -->*/
   
    .emprower-wrap .container .emp-big-text{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        color: var(--grey);
        margin-bottom: 16px;
    }
    .emprower-wrap .container .emp-small-text{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: var(--grey);
    }
    .emprower-wrap .container form {
        background-color: #ccc;
      
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    .emprower-wrap .container form label{
        padding-top: 16px;
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    display: block;
    margin: 16px 0 12px 0;
    }
    .emprower-wrap .container form input{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:var(--black);
    padding: 20px 40px 20px 24px;
    display: inline-block;
    opacity: 0.3;
    background-color:var(--inputcolor);
    border-radius: 8px;
    border: none;
    display: block;
    }
    .emprower-wrap .container form select{
        padding: 20px 70px 20px 24px;
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:var(--grey);
    display: block;
    border-radius: 8px;
    border: none;
    }
    .emprower-wrap .container form .emp-btn{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    background-color: var(--green);
    color:var(--white);
    padding: 23px 56px;
    border: none;
    margin-top: 24px;
    border-radius: 8px;
    } 
}

/* Tablet @media finished*/



/* Mobile @media started */

@media screen and (min-width: 320px) and (max-width: 480px) {
    .emprower-wrap .container {
        max-width: 350px;
        margin: 0 auto;
    }
    
    
    /* <!-- emprower  started -->*/
   
    .emprower-wrap .container .emp-big-text{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        color: var(--grey);
        margin-bottom: 16px;
    }
    .emprower-wrap .container .emp-small-text{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: var(--grey);
    }
    .emprower-wrap .container form {
        background-color: #ccc;
      
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
    .emprower-wrap .container form label{
        padding-top: 16px;
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    display: block;
    margin: 16px 0 12px 0;
    }
    .emprower-wrap .container form input{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:var(--black);
    padding: 20px 40px 20px 24px;
    display: inline-block;
    opacity: 0.3;
    background-color:var(--inputcolor);
    border-radius: 8px;
    border: none;
    display: block;
    }
    .emprower-wrap .container form select{
        padding: 20px 50px 20px 24px;
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:var(--grey);
    display: block;
    border-radius: 8px;
    border: none;
    }
    .emprower-wrap .container form .emp-btn{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    background-color: var(--green);
    color:var(--white);
    padding: 23px 36px;
    border: none;
    margin-top: 24px;
    border-radius: 8px;
    }
}

/* Mobile @media finished */


/* <!-- emprower  finished --> */

/* Large screen desktop @media started*/

@media screen and (min-width: 769px) and (max-width: 1025px) {
    .container {
        max-width: 1220px;
        padding: 100px 150px;
        margin: 0 auto;
    }

    .emprower-wrap .container .emp-big-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        color: var(--grey);
        margin-bottom: 16px;
    }

    .emprower-wrap .container .emp-small-text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: var(--grey);
    }

    .emprower-wrap .container form {
        background-color: #ccc;

        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .emprower-wrap .container form label {
        padding-top: 16px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--black);
        display: block;
        margin: 16px 0 12px 0;
    }

    .emprower-wrap .container form input {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--black);
        padding: 20px 290px 20px 24px;
        display: inline-block;
        opacity: 0.3;
        background-color: var(--inputcolor);
        border-radius: 8px;
        border: none;
        display: block;
    }

    .emprower-wrap .container form select {
        padding: 20px 343px 20px 24px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--grey);
        display: block;
        border-radius: 8px;
        border: none;
    }

    .emprower-wrap .container form .emp-btn {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        background-color: var(--green);
        color: var(--white);
        padding: 23px 196px;
        border: none;
        margin-top: 24px;
        border-radius: 8px;
    }
}

/* Large screen desktop @media finished*/



/* Tablet @media started*/



/* Mobile @media finished */

/* <!-- emprower finished --> */



/* <!-- footer  started --> */
footer{
    background-color: var(--footop);
}
footer .container{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    gap: 100px;
    padding-bottom: 48px;
    max-width: 1140px;
    margin: 0 auto;
    /* border: 1px solid red; */
}
footer .container .footer-left .footer-text{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: var(--white);
margin-top: 24px;
margin-bottom: 56px;
}
.footer-center {
    display: flex;
    width: 592px;
    justify-content: space-between;
/* border: 1px solid wheat; */
    
}
.footer-right{
    display: flex;
    width: 792px;
    justify-content: space-between;
    /* border: 1px solid wheat; */
}
.footer-text{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: var(--white);
}
footer .container .footer-center ul li a,footer .container .footer-right ul li a{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
margin-top: 20px;
display: inline-block;
color: var(--white);


}
footer .container .footer-center ul ,footer .container .footer-right ul {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: var(--white);
margin-bottom: 16px;
}
#foot{
    margin-top: 30px;
}
.footer-botton{
    background-color: var(--foobot);
}
.footer-botton .con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 135px;
}
.footer-botton .con .footer-botton-text a{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: var(--text-co);

}
/* <!-- footer finished --> */
@media screen and (min-width: 769px) and (max-width: 1025px) {
    footer{
        background-color: var(--footop);
    }
    footer .container{
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
        gap: 50px;
        padding-bottom: 48px;
        max-width: 1000px;
        margin: 0 auto;
        /* border: 1px solid red; */
    }
    footer .container .footer-left .footer-text{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    margin-top: 24px;
    margin-bottom: 56px;
    }
    .footer-center {
        display: flex;
        width: 592px;
        justify-content: space-between;
    /* border: 1px solid wheat; */
        
    }
    .footer-right{
        display: flex;
        width: 792px;
        justify-content: space-between;
        /* border: 1px solid wheat; */
    }
    .footer-text{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    }
    footer .container .footer-center ul li a,footer .container .footer-right ul li a{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: var(--white);
    
    }
    footer .container .footer-center ul ,footer .container .footer-right ul {
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    margin-bottom: 16px;
    }
    #foot{
        margin-top: 30px;
    }
    .footer-botton .con{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 28px 135px;
    }
    .footer-botton .con .footer-botton-text a{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--text-co);
    
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    footer{
        background-color: var(--footop);
    }
    footer .container{
        display: block;
        justify-content: space-between;
        padding-top: 60px;
        gap: 60px;
        padding-bottom: 48px;
        max-width: 500px;
        margin: 0 auto;
        /* border: 1px solid red; */
    }
    footer .container .footer-left .footer-text{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    margin-top: 24px;
    margin-bottom: 56px;
    
    }
    .logo-footer{
        margin-bottom: 30px;
    }
    .footer-center {
        display: flex;
        width: 302px;
        justify-content: space-between;
    /* border: 1px solid wheat; */
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-right{
        display: flex;
        width: 300px;
        justify-content: space-between;
        /* border: 1px solid wheat; */
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-text{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    margin-top: 30px;
    }
    footer .container .footer-center ul li a,footer .container .footer-right ul li a{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: var(--white);
    
    }
    footer .container .footer-center ul ,footer .container .footer-right ul {
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    margin-bottom: 16px;
    }
    #foot{
        margin-top: 30px;
    }
    .footer-botton .con{
        display: block;
        justify-content: space-between;
        align-items: center;
        padding: 28px 100px;
    }
    .footer-botton .con .footer-botton-text a{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--text-co);
    text-align: center;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    footer{
        background-color: var(--footop);
    }
    footer .container{
        display: block;
        justify-content: space-between;
        padding-top: 60px;
        gap: 60px;
        padding-bottom: 48px;
        max-width: 300px;
        margin: 0 auto;
        /* border: 1px solid red; */
    }
    footer .container .footer-left .footer-text{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    margin-top: 24px;
    margin-bottom: 56px;
    
    }
    .logo-footer{
        margin-bottom: 30px;
    }
    .footer-center {
        display: flex;
        width: 280px;
        justify-content: space-between;
    /* border: 1px solid wheat; */
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-right{
        display: flex;
        width: 280px;
        justify-content: space-between;
        /* border: 1px solid wheat; */
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-text{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    margin-top: 30px;
    }
    footer .container .footer-center ul li a,footer .container .footer-right ul li a{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: var(--white);
    
    }
    footer .container .footer-center ul ,footer .container .footer-right ul {
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    margin-bottom: 16px;
    }
    #foot{
        margin-top: 30px;
    }
    .footer-botton .con{
        display: block;
        justify-content: space-between;
        align-items: center;
        padding: 28px 100px;
    }
    .footer-botton .con .footer-botton-text a{
        font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--text-co);
    text-align: center;
    }
}



/* Mobile devices (@media) started finished */

/* <!-- footer finished --> */
