@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --green: #13AB4E;
    --grey: #333333;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}

.container {
    max-width: 1220px;
    padding: 0 25px;
    margin: 0 auto;
}

/* <!-- fastwork  started --> */



/* Small screens and laptops (@media) started*/

@media screen and (min-width: 769px) and (max-width: 1025px) {}

/* Small screens and laptops (@media) finished*/



/* Ipads and tablets (@media) started*/

@media screen and (min-width: 481px) and (max-width: 768px) {}

/* Ipads and tablets (@media) finished*/



/* Mobile devices (@media) started started */

@media screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        padding: 0 15px;
    }
}

/* Mobile devices (@media) started finished */

/* <!-- fastwork finished --> */