@font-face {
    font-family: "Poppins";
    src: url(../font/Poppins-Italic.ttf);
    src: url(../font/Poppins-ExtraBold.ttf);
}

:root {
    --green: #13AB4E;
    --grey: #333333;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}

.container {
    max-width: 1240px;
    padding: 0 35px;
    margin: 0 auto;
}

/* <!-- home  started --> */

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #000;
    font-size: 24px;
    font-family: 'Poppins';
}

/* Tablet @media started*/

@media screen and (min-width: 481px) and (max-width: 1025px) {
    .container {
        padding: 0 25px;
    }
}

/* Tablet @media finished*/

/* Mobile @media started */

@media screen and (max-width: 480px) {
    .container {
        padding: 0 15px;
    }
}

/* <!-- home  finished --> */