/* Universal codes started */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --green: #13AB4E;
    --grey: #333333;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: 'Poppins';
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1220px;
    padding: 0 25px;
    margin: 0 auto;
    border: 1px solid red;
}



.unsupported-device {
    display: none;
}

/* Universal codes finished */

/* <!-- industries  started --> */
.industries_leftbox img {
    max-width: 100%;
    height: auto;
}
    .industries_box {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .industries_leftbox {
        width: 50%;
    }
    .industries_rightbox {
        width: 50%;
        padding: 10px;
    }
    .rightbox_title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;
        color: var(--green);
    }
    #main_title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        color: var(--grey);
    }
    .rightbox_text {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: var(--grey);
    }
    .rightbox_small {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 1px solid var(--black);
        margin-bottom: 10px;
        padding: 15px 0;
        cursor: pointer;
        position: relative;
    }
    .rightbox_small div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }
    .smallbox_title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: var(--grey);
    }
    .rightbox_bottom_flex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
    }
    .rightbox_bottom_flex span {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: var(--green);
        display: inline-block;
        cursor: pointer;
    }
    .akardion {
        height: 0;
        overflow: hidden;
        font-family: 'Poppins';
        font-style: normal;
        font-size: 16px;
        color: var(--black);
    }
    .akardion_1{
        margin-top: 15px;
    }
    .input {
        display: none;
    }
    label {
        font-size: 24px;
        color: var(--green);
        font-family: 'Poppins';
        display: flex;
        align-items: center;
        gap: 10px;
    }
    label:hover .smallbox_title{
        color: var(--green);
    }
    label i{
        font-size: 20px;
        position: absolute;
        right: 0px;
    }
    :has(#input_1[type='checkbox']:checked) #label_1 i{
        transform: rotate(90deg);
    }
    :has(#input_2[type='checkbox']:checked) #label_2 i{
        transform: rotate(90deg);
    }
    :has(#input_3[type='checkbox']:checked) #label_3 i{
        transform: rotate(90deg);
    }
    :has(#input_4[type='checkbox']:checked) #label_4 i{
        transform: rotate(90deg);
    }
    :has(#input_1[type='checkbox']:checked) .akardion_1 {
        height: auto;
    }
    :has(#input_2[type='checkbox']:checked) .akardion_2 {
        height: auto;
    }
    :has(#input_3[type='checkbox']:checked) .akardion_3 {
        height: auto;
    }
    :has(#input_4[type='checkbox']:checked) .akardion_4 {
        height: auto;
    }

    @media screen and (min-width: 769px) and (max-width: 1025px) {
        #main_title {
            font-size: 30px;
            line-height: 45px;
        }
        .smallbox_title {
            font-size: 18px;
        }
    }
    @media screen and (min-width: 481px) and (max-width: 768px) {
        .container {
            width: 100%;
        }
        .industries_leftbox {
            width: 100%;
        }
        .industries_rightbox {
            width: 100%;
            padding: 0;
        }
        .industries_box {
            flex-direction: column-reverse;
        }
        #main_title {
            font-size: 24px;
            line-height: 32px;
        }
        .rightbox_title {
            font-size: 12px;
        }
        .rightbox_text {
            font-size: 12px;
            line-height: 20px;
        }
        .smallbox_title {
            font-size: 16px;
        }
        .rightbox_bottom_flex {
            margin-bottom: 30px;
            font-size: 19px;
        }
        .industries_leftbox {
            text-align: center;
        }
        .akardion_1{
            font-size: 16px;
        }
    }
    @media screen and (min-width: 320px) and (max-width: 480px) {
        .container {
            width: 100%;
        }
        .industries_leftbox {
            width: 100%;
        }
        .industries_rightbox {
            width: 100%;
            padding: 0;
        }
        .industries_box {
            flex-direction: column-reverse;
        }
        #main_title {
            font-size: 22px;
            line-height: 32px;
        }
        .rightbox_title {
            font-size: 10px;
        }
        .rightbox_text {
            font-size: 10px;
            line-height: 18px;
        }
        .smallbox_title {
            font-size: 14px;
        }
        .rightbox_bottom_flex {
            margin-bottom: 25px;
            font-size: 17px;
        }
        .industries_leftbox {
            text-align: center;
        }
        .akardion_1{
            font-size: 14px;
        }
    }
/* <!-- industries  finished --> */