/* Universal codes started */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --green: #13AB4E;
    --grey: #333333;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: 'Poppins';
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1220px;
    padding: 0 25px;
    margin: 0 auto;
}

.unsupported-device {
    display: none;
}

/* Universal codes finished */

