/* Universal codes started */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --green: #13ab4e;
  --grey: #333333;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  font-family: "Poppins";
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1220px;
  padding: 0 25px;
  margin: 0 auto;
}

.unsupported-device {
  display: none;
}

/* Universal codes finished */

/* <!-- home started --> */

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-wrap .header-wrap {
  background: url(../img/header-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 740px;
}

.home-wrap .navbar {
  background-color: var(--white);
}

.home-wrap .navbar-logo {
  margin-right: 56px;
}

.home-wrap .navbar-left ul {
  gap: 40px;
}

.home-wrap .navbar-wrap {
  height: 85px;
  margin-bottom: 23px;
}

.home-wrap .navbar-left ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey);
  transition: all 0.3s ease;
}

.home-wrap .navbar-left ul li a:hover {
  border-bottom: 1px solid var(--black);
}

.home-wrap .navbar-signin-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey);
  margin-right: 32px;
  display: flex;
}

.home-wrap .navbar-signin-icon {
  display: none;
}

.home-wrap .navbar-signin-text img {
  margin-right: 8px;
}

.home-wrap .request-demo-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--white);
  background: var(--green);
  border-radius: 4px;
  padding: 14px 28px;
  transition: all 0.3s ease;
}

.home-wrap .request-demo-btn:hover {
  background: #04923a;
}

.home-wrap .header .navbar-mobile {
  height: 69px;
  display: none;
}

.home-wrap .header-left-content {
  margin-right: 48px;
  width: 50%;
}

.home-wrap .header-left-content h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: var(--grey);
}

.home-wrap .header-left-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: var(--grey);
  margin: 16px 0 32px 0;
}

.home-wrap .header-left-content a:last-child {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--green);
  margin-left: 27px;
}

.home-wrap .header-left-content img {
  margin-right: 8px;
  transform: translateY(6px);
}

.home-wrap .header-right-content {
  max-width: 550px;
}

.home-wrap .header-right-content img {
  width: 100%;
}

.home-wrap .header-trusted-text {
  color: var(--green);
  text-align: center;
  margin-top: 24px;
}

.home-wrap .header-buttons {
  justify-content: unset;
}

.navbar-mobile-block {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  z-index: 10;
  backdrop-filter: blur(20px);
  display: none;
  transition: all 0.4s ease;
}

.nv-active {
  transform: translateX(100%);
}

.nvi-active {
  transform: rotate(90deg);
}

.navbar-mobile-block i {
  font-size: 28px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--green);
  transition: all 0.4s ease;
}

/* <!-- home finished --> */

/* <!--management   started --> */
.management-wrap .container {
  margin: 37px auto;
}

.management-wrap marquee {
  width: 100%;
  overflow: hidden;
}

.management-wrap marquee a img {
  width: 200px;
  height: 40px;
}

.management-wrap .for-video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.management-wrap .for-video h4 {
  color: var(--green);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  margin-top: 100px;
  text-align: center;
}

.management-wrap .for-video h2 {
  margin-top: 12px;
  font-family: "Poppins";
  color: var(--black);
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
}

.management-wrap .for-video h6 {
  font-family: "Poppins";
  color: var(--black);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  margin-top: 30px;
  max-width: 70%;
}

.management-wrap .for-video video {
  width: 674px;
  height: 380px;
  margin: 48px;
}

/* <!-- management  finished --> */

/* <!-- features started --> */
.features-wrap {
  background-image: url(../img/featries-bg-color.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.features-wrap-title p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #0d7d38;
}

.features-wrap-title h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #333333;
  max-width: 80%;
  margin: 0 auto;
}

.tab {
  max-width: 1035px;
  height: 66px;
  background: #dcf3e5;
  /* opacity: 0.1; */
  border-radius: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 32px auto;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 5px;
  transition: 0.3s;
  border-radius: 75px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background: #ffffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.tab button:active {
  background: rgba(0, 0, 0, 0.141);
}

.tab button img {
  max-width: 32px;
  color: var(--black);
}

.tab button:hover img {
  color: #13ab4e;
}

.tab button p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.tab button:hover p {
  color: #13ab4e;
}

.tablinks {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  text-align: center;
}

.tabcontent p {
  width: 74%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 24px;
  margin: 30px auto;
  text-align: center;
  color: #333333;
}

.tabcontent p a {
  color: #13ab4e;
}

.tabcontent img {
  margin: 0 auto;
  max-width: 837px;
}

.featuries-accordion {
  display: none;
}

/* <!-- features finished --> */

/* <!-- fastwork  started --> */
.fastwork-wrap {
  font-family: Poppins;
}

.fastwork-text {
  max-width: 590px;
  margin: 0 auto;
}

.fastwork-text>p {
  line-height: 32px;
  font-size: 18px;
  font-weight: 400;
  color: var(--grey);
  margin-top: 64px;
  text-align: center;
}

.fastwork-in {
  margin-top: 37px;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

hr {
  border: 1px solid #DEDEDE;
  height: 70px;
}

.fastwork-one span {
  margin-left: 5px;
  font-weight: 700;
  font-size: 44px;
  color: var(--green);
}

.fastwork-one p {
  font-weight: 400;
  font-size: 18px;
  color: var(--grey);
  max-width: 211px;
}

.txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  padding-left: 50px;
}

.fastwork-about {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.fastwork-about-text>h4 {
  text-transform: uppercase;
  color: #0D7D38;
  margin-bottom: 4px;
}

.fastwork-about-text>h1 {
  color: var(--grey);
  font-weight: 600;
  max-width: 480px;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 16px;
}

.fastwork-about-text>.text1 {
  max-width: 402px;
  color: var(--grey);
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 24px;
}

.txt {
  padding-left: 50px;
}

.border-button {
  border: 1px solid #DEDEDE;
  max-width: 500px;
}

.fastwork-about-text h3 {
  margin-top: 32px;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  color: var(--grey);
}

.txt {
  margin-top: 5px;
}

.text {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

.text2 {
  max-width: 447px;
  color: var(--grey);
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 24px;
}

.text3 {
  max-width: 389px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: var(--grey);
}

.fastwork-about-text a {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--green);
}

.fastwork-about-text i {
  align-items: center;
  margin-top: 40px;
  margin-left: 40px;
}

.circular-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 2px solid #f1f1f1;
  box-shadow: 1px 1px 5px #ccc;
  min-width: 360px;
  padding: 20px 15px;
  border-radius: 8px;
  background: #fff;
}

.fast-about-image>img {
  max-width: 490px;
}

.circular-wrapper p {
  font-size: 18px;
  font-weight: 600;
  margin-left: 0px;
  margin-bottom: 15px;
  border-bottom: 2px solid #ccc;
}

.circular-wrapper i {
  margin-left: 10px;
  color: rgb(38, 16, 204);
}

.wrapper_about {
  display: flex;
}

.circular-progress {
  position: relative;
  height: 150px;
  width: 150px;
  background: conic-gradient(#0ad959 3.6deg, #ededed 0deg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background-color: #fff;
}

.progress-value {
  position: relative;
  font-size: 35px;
  font-weight: 600;
  color: var(--grey);
}

.fast-about-image {
  position: relative;
}

.nummber {
  margin-left: 20px;
}

.nummber h4 {
  margin-top: 3px;
  font-size: 20px;
  color: #20b659;
}

.nummber>h4>i {
  color: #20b659;
}

.nummber>p {
  font-size: 13px;
  color: var(--grey);
}

.nummber h3 {
  font-size: 20px;
  text-transform: uppercase;
}

/* <!-- industries started --> */
.industries {
  margin-top: 100px;
}

.industries_leftbox img {
  max-width: 100%;
  height: auto;
}

.industries_box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.industries_leftbox {
  width: 50%;
}

.industries_rightbox {
  width: 50%;
  padding: 10px;
}

.rightbox_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  color: var(--green);
}

#main_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: var(--grey);
}

.rightbox_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: var(--grey);
}

.rightbox_small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--black);
  margin-bottom: 10px;
  padding: 15px 0;
  cursor: pointer;
  position: relative;
}

.rightbox_small div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.smallbox_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--grey);
}

.rightbox_bottom_flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.rightbox_bottom_flex span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--green);
  display: inline-block;
  cursor: pointer;
}

.akardion {
  height: 0;
  overflow: hidden;
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px;
  color: var(--black);
}

.akardion_1 {
  margin-top: 15px;
}

.input {
  display: none;
}

label {
  font-size: 24px;
  color: var(--green);
  font-family: "Poppins";
  display: flex;
  align-items: center;
  gap: 10px;
}

label:hover .smallbox_title {
  color: var(--green);
}

label i {
  font-size: 20px;
  position: absolute;
  right: 0px;
}

:has(#input_1[type="checkbox"]:checked) #label_1 i {
  transform: rotate(90deg);
}

:has(#input_2[type="checkbox"]:checked) #label_2 i {
  transform: rotate(90deg);
}

:has(#input_3[type="checkbox"]:checked) #label_3 i {
  transform: rotate(90deg);
}

:has(#input_4[type="checkbox"]:checked) #label_4 i {
  transform: rotate(90deg);
}

:has(#input_1[type="checkbox"]:checked) .akardion_1 {
  height: auto;
}

:has(#input_2[type="checkbox"]:checked) .akardion_2 {
  height: auto;
}

:has(#input_3[type="checkbox"]:checked) .akardion_3 {
  height: auto;
}

:has(#input_4[type="checkbox"]:checked) .akardion_4 {
  height: auto;
}

/* <!-- industries finished --> */

/* <!-- customer started --> */
@keyframes tonext {
  75% {
    left: 0;
  }

  95% {
    left: 100%;
  }

  98% {
    left: 100%;
  }

  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }

  95% {
    left: -300%;
  }

  98% {
    left: -300%;
  }

  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }

  97% {
    scroll-snap-align: none;
  }

  99% {
    scroll-snap-align: none;
  }

  100% {
    scroll-snap-align: center;
  }
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.customer-box {
  display: flex;
}

.text-box {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #0d7d38;
  margin-top: 56px;
  margin-bottom: 4px;
}

.customer-texts h2 {
  width: 832px;
  margin: 0 auto;
  margin-bottom: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #333333;
}

.customer-texts h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #333;
  width: 586px;
  margin: 0 auto;
  margin-bottom: 96px;
}

.wrapper {
  max-width: 600px;
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.wrapper i:first-child:after {
  position: absolute;
  content: "";
  width: 10px;
  bottom: 25px;
  left: 90px;
  opacity: 0.7;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

.wrapper i:first-child:before {
  position: absolute;
  content: "";
  width: 10px;
  bottom: 25px;
  left: 60px;
  opacity: 0.7;
  height: 10px;
  border-radius: 50%;
  opacity: 0.3;
  background-color: green;
}

.wrapper i:last-child:before {
  position: absolute;
  content: "";
  width: 10px;
  bottom: 25px;
  right: 60px;
  opacity: 0.7;
  height: 10px;
  border-radius: 50%;
  opacity: 0.3;
  background-color: green;
}

.wrapper i:last-child:after {
  position: absolute;
  content: "";
  width: 10px;
  bottom: 25px;
  right: 90px;
  opacity: 0.7;
  height: 10px;
  border-radius: 50%;
  opacity: 0.3;
  background-color: green;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: var(--white);
  color: green;
  transform: translateY(-50%);
  transition: all 0.5s linear;
}

.wrapper i img {
  transition: all 0.2s ease;
}

.wrapper i img:active {
  scale: 0.7;
}

.wrapper i:first-child {
  left: 45px;
  top: 420px;
}

.wrapper i:last-child {
  right: 332px;
  top: 420px;
}

.card .div h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  color: var(--grey);
}

.card .div p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  width: 400px;
  font-size: 18px;
  line-height: 27px;
  color: var(--grey);
  margin-bottom: 30px;
}

.card .div {
  gap: 22px;
  width: 400px;
  margin-top: 24px;
  margin-right: 220px;
  align-items: center;
  display: flex;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 1) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 362px;
  width: 670px;
  list-style: none;
  background: var(--white);
  padding-left: 64px;
  cursor: pointer;
  margin-top: 50px;
  padding-bottom: 55px;
  /* margin-bottom: 25px; */
  flex-direction: column;
  border-radius: 8px;
}

.carousel .card .img {
  background: #8b53ff;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.carousel .card span {
  color: #6a6d78;
  font-size: 1.31rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
  color: var(--grey);
}

/* <!-- customer finished --> */

/* <!-- emprower started --> */
.emprower-wrap .container {
  max-width: 1140px;
  margin: 0 auto;
}

/* <!-- emprower  started -->*/
.emprower-wrap .container {
  max-width: 1220px;
  padding: 100px 150px;
  margin: 0 auto;
}

.emprower-wrap .container .emp-big-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: var(--grey);
  margin-bottom: 16px;
}

.emprower-wrap .container .emp-small-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: var(--grey);
}

.emprower-wrap .container form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.emprower-wrap .container form label {
  padding-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  display: block;
  margin: 16px 0 12px 0;
}

.emprower-wrap .container form input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  padding: 20px 290px 20px 24px;
  display: inline-block;
  opacity: 0.3;
  background-color: var(--inputcolor);
  border-radius: 8px;
  border: none;
  display: block;
}

.emprower-wrap .container form label {
  display: inline-block;
}

.emprower-wrap .container form select {
  padding: 20px 343px 20px 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey);
  display: block;
  border-radius: 8px;
  border: none;
  outline: none;
}

.emprower-wrap .container form .emp-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  background-color: var(--green);
  color: var(--white);
  padding: 23px 196px;
  border: none;
  margin-top: 24px;
  border-radius: 8px;
}

/* <!-- emprower finished --> */

/* <!-- footer started --> */
footer {
  background-color: var(--black);
}

footer .container {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  gap: 80px;
  padding-bottom: 48px;
  max-width: 1140px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

footer .container .footer-left .footer-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
  margin-top: 24px;
  margin-bottom: 56px;
}

.footer-center {
  display: flex;
  width: 692px;
  justify-content: space-between;
  /* border: 1px solid wheat; */
}

.footer-right {
  display: flex;
  width: 892px;
  justify-content: space-between;
  /* border: 1px solid wheat; */
}

.footer-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--white);
}

footer .container .footer-center ul li a,
footer .container .footer-right ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
  display: inline-block;
  color: var(--white);
}

footer .container .footer-center ul,
footer .container .footer-right ul {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  margin-bottom: 16px;
}

#foot {
  margin-top: 30px;
}

.footer-botton {
  background-color: var(--foobot);
}

.footer-botton .con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 135px;
}

.footer-botton .con .footer-botton-text a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-co);
}

/* <!-- footer finished --> */

/* MEDIA STARTED */

/* Small screens and laptops (@media) started*/

@media screen and (min-width: 769px) and (max-width: 1025px) {

  /* header started */
  .home-wrap .navbar-logo {
    margin-right: 36px;
  }

  .home-wrap .navbar-left ul {
    gap: 20px;
  }

  .home-wrap .navbar-left ul li a {
    font-size: 14px;
  }

  .home-wrap .navbar-signin-text {
    display: none;
  }

  .home-wrap .request-demo-btn {
    font-size: 14px;
    padding: 6px 12px;
  }

  .home-wrap .navbar-signin-icon {
    margin-right: 16px;
    display: block;
  }

  .home-wrap .header-left-content h1 {
    font-size: 32px;
    line-height: 42px;
  }

  .home-wrap .header-left-content p {
    font-size: 18px;
    line-height: 26px;
    margin: 12px 0 24px 0;
  }

  .home-wrap .header-left-content a:last-child {
    font-size: 14px;
    margin-left: 17px;
  }

  .home-wrap .header-right-content {
    max-width: 400px;
  }

  .home-wrap .header-right-content img {
    width: 100%;
  }

  .home-wrap .header-left-content {
    margin-right: 10px;
  }

  /* header finished */

  /* management started */
  .management-wrap .container {
    margin: 32px auto;
  }

  .management-wrap marquee a img {
    width: 150px;
    height: 65px;
    margin-left: 40px;
  }

  .management-wrap .for-video {
    margin-top: 70px;
  }

  .management-wrap .for-video h4 {
    font-size: 18px;
  }

  .management-wrap .for-video h2 {
    font-size: 40px;
    line-height: 65px;
  }

  .management-wrap .for-video h6 {
    font-size: 15px;
  }

  /* management finished */

  /* features started */
  .features-wrap-title p {
    font-size: 18px;
  }

  .features-wrap-title h1 {
    font-size: 40px;
    line-height: 68px;
    width: 75%;
  }

  .tab {
    max-width: 910px;
    height: 55px;
  }

  .tab button {
    padding: 7px 3px;
    border-radius: 70px;
  }

  .tab button img {
    max-width: 28px;
  }

  .tab button p {
    font-size: 11px;
  }

  .tabcontent p {
    font-size: 16px;
  }

  .tabcontent img {
    max-width: 500px;
  }

  /* features finished */

  /* Fast work started */
  .fastwork-in {
    padding: 0 20px;
    margin-top: 37px;
    display: flex;
    gap: 50px;
  }

  .fast-about-image img {
    max-width: 450px;
  }

  .fastwork-in {
    padding-top: 37px;
    margin: 0 auto;
  }

  /* .fast-about-image{
          position: relative;
      }  */

  .circular-wrapper {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .fastwork-about {
    flex-direction: column;
  }

  /* Fast work finished */

  /* industries started */
  #main_title {
    font-size: 30px;
    line-height: 45px;
  }

  .smallbox_title {
    font-size: 18px;
  }

  /* industries finished */

  /* customer started */
  .text-box {
    margin: 20px auto 0;
    text-align: center;
    width: 769px;
  }

  .customer-img-box img {
    display: none;
  }

  .customer-box {
    width: 669px;
    margin: 0 auto;
  }

  .wrapper i:first-child {
    left: 37%;
  }

  .wrapper i {
    margin-top: 20px;
  }

  .wrapper i:last-child {
    right: 27%;
  }

  .customer-texts h2 {
    width: 769px;
    line-height: 70px;
  }

  .customer-texts h3 {
    margin-bottom: 40px;
  }

  .carousel .card {
    width: 710px;
  }

  /* customer finished */

  /* imprower started */
  .emprower-wrap .container {
    max-width: 700px;
    margin: 0 auto;
  }

  /* <!-- emprower  started -->*/
  .emprower-wrap .container {
    max-width: 1220px;
    padding: 100px 150px;
    margin: 0 auto;
  }

  .emprower-wrap .container .emp-big-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: var(--grey);
    margin-bottom: 16px;
  }

  .emprower-wrap .container .emp-small-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: var(--grey);
  }

  .emprower-wrap .container form {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .emprower-wrap .container form label {
    padding-top: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    display: block;
    margin: 16px 0 12px 0;
  }

  .emprower-wrap .container form input {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    padding: 20px 230px 20px 24px;
    display: inline-block;
    opacity: 0.3;
    background-color: var(--inputcolor);
    border-radius: 8px;
    border: none;
    display: block;
  }

  .emprower-wrap .container form select {
    padding: 20px 290px 20px 24px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey);
    display: block;
    border-radius: 8px;
    border: none;
    outline: none;
  }

  .emprower-wrap .container form .emp-btn {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    background-color: var(--green);
    color: var(--white);
    padding: 23px 156px;
    border: none;
    margin-top: 24px;
    border-radius: 8px;
  }

  /* imprower finished */

  /* footer started */
  footer {
    background-color: var(--black);
  }

  footer .container {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    gap: 50px;
    padding-bottom: 48px;
    max-width: 1000px;
    margin: 0 auto;
    /* border: 1px solid red; */
  }

  footer .container .footer-left .footer-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    margin-top: 24px;
    margin-bottom: 56px;
  }

  footer .container .footer-left {
    margin-left: -80px;
  }

  .footer-center ul {
    margin-left: 20px;
  }

  .footer-center {
    display: flex;
    width: 692px;
    justify-content: space-between;

    /* border: 1px solid wheat; */
  }

  .footer-right {
    display: flex;
    width: 592px;
    justify-content: space-between;
    /* border: 1px solid wheat; */
    gap: 30px;
  }

  .footer-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
  }

  footer .container .footer-center ul li a,
  footer .container .footer-right ul li a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: var(--white);
  }

  footer .container .footer-center ul,
  footer .container .footer-right ul {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    margin-bottom: 16px;
  }

  #foot {
    margin-top: 30px;
  }

  .footer-botton .con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 135px;
  }

  .footer-botton .con .footer-botton-text a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--text-co);
  }

  /* footer finished */
}

/* Small screens and laptops (@media) finished*/

/* Ipads and tablets (@media) started*/

@media screen and (min-width: 481px) and (max-width: 768px) {

  /* home started*/
  .home-wrap .header-wrap {
    background: url(../img/header-background.png);
    background-position: auto;
  }

  .home-wrap .navbar {
    display: none;
  }

  .home-wrap .header .navbar-mobile {
    display: flex;
    margin-bottom: 58px;
  }

  .home-wrap .header-content {
    flex-direction: column;
  }

  .home-wrap .header-left-content {
    margin-right: 0;
  }

  .home-wrap .header-left-content {
    width: 100%;
  }

  .home-wrap .header-buttons {
    flex-direction: column;
    text-align: center;
  }

  .home-wrap .header-left-content a:first-child {
    font-size: 18px;
    margin-left: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .home-wrap .header-left-content a:last-child {
    font-size: 18px;
    margin-left: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  .home-wrap .header-right-content img {
    width: 100%;
  }

  .navbar-mobile-block {
    display: block;
  }

  .navbar-mobile-block ul {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }

  .navbar-mobile-block ul li a {
    color: var(--black);
    font-weight: 500;
    font-size: 24px;
    line-height: 100px;
    align-items: center;
    align-self: center;
  }

  /* home finished */

  /* management started */
  .management-wrap .container {
    margin: 0px auto;
    padding-top: 600px;
    padding-bottom: 40px;
  }

  .management-wrap marquee a img {
    width: 130px;
    height: 60px;
    margin-left: 35px;
  }

  .management-wrap .for-video {
    margin-top: 20px;
  }

  .management-wrap .for-video h4 {
    font-size: 17px;
  }

  .management-wrap .for-video h2 {
    font-size: 36px;
    line-height: 55px;
  }

  .management-wrap .for-video h6 {
    font-size: 15px;
  }

  .management-wrap .for-video video {
    width: 450px;
    height: 300px;
    margin: 38px;
  }

  /* management finished */

  /* features started */
  .featuries-tap-bar {
    display: none;
  }

  .featuries-accordion {
    display: block;
  }

  .features-wrap-title p {
    font-size: 18px;
  }

  .features-wrap-title h1 {
    font-size: 36px;
    line-height: 52px;
  }

  .accordion {
    background-color: #f3fbf6;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1.5px solid #dedede;
    position: relative;
  }

  .accordion i {
    position: absolute;
    right: 10px;
  }

  .active,
  .accordion:hover {
    color: var(--green);
  }

  .accordion:hover i {
    transform: rotate(180deg);
  }

  .panel {
    padding: 20px 18px;
    display: none;
    background-color: #f3fbf6;
    overflow: hidden;
  }

  .panel p {
    font-size: 17px;
  }

  .panel p a {
    color: var(--green);
  }

  .panel img {
    max-width: 90%;
    margin-top: 40px;
  }

  /* features finished */

  /* Fast work started */
  .fast-about-image>img {
    max-width: 570px;
  }

  .fastwork-in {
    margin-top: 37px;
    display: flex;
    gap: 30px;
  }

  .fastwork-text p {
    /* margin-left: 80px; */
    text-align: center;
  }

  .fastwork-about-text h1 {
    font-size: 38px;
  }

  .fastwork-about {
    flex-direction: column;
  }

  .fastwork-about {
    display: flex;
    gap: 100px;
  }

  .fast-about-image>img {
    max-width: 450px;
  }

  .fastwork-one p {
    font-size: 14px;

  }

  .fastwork-one span {
    font-size: 28px;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .fastwork-in {
    padding-top: 37px;
    margin: 0 auto;
  }

  /* .fast-about-image{
          position: relative;
      }  */
  .circular-wrapper {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  /* Fast work finished */

  /* industries started */
  .industries_leftbox {
    width: 100%;
  }

  .industries_rightbox {
    width: 100%;
    padding: 0;
  }

  .industries_box {
    flex-direction: column-reverse;
  }

  #main_title {
    font-size: 24px;
    line-height: 32px;
  }

  .rightbox_title {
    font-size: 12px;
  }

  .rightbox_text {
    font-size: 12px;
    line-height: 20px;
  }

  .smallbox_title {
    font-size: 16px;
  }

  .rightbox_bottom_flex {
    margin-bottom: 30px;
    font-size: 19px;
  }

  .industries_leftbox {
    text-align: center;
  }

  .akardion_1 {
    font-size: 16px;
  }

  /* industries finished */

  /* customer started */
  .text-box {
    margin: 20px auto 0;
    text-align: center;
    width: 481px;
  }

  .customer-texts h2 {
    width: 481px;
    font-size: 40px;
    line-height: 50px;
  }

  .customer-texts h3 {
    margin-bottom: 40px;
    width: 481px;
    line-height: 20px;
  }

  .carousel .card span {
    font-size: 20px;
    line-height: 30px;
  }

  .carousel .card {
    max-width: 768px;
    margin: 0 auto;
  }

  .card .div {
    align-items: center;
    max-width: 768px;
  }

  .card .div h3 {
    margin-bottom: 0px;
    font-size: 20px;
  }

  .wrapper i:before {
    display: none;
  }

  .wrapper i:after {
    display: none;
  }

  .wrapper i:first-child {
    left: 50px;
  }

  .wrapper i:last-child {
    right: 215px;
  }

  .customer-img-box img {
    display: none;
  }

  /* customer finished */

  /* imprower stated */
  .emprower-wrap .container {
    max-width: 700px;
    margin: 0 auto;
  }

  /* <!-- emprower  started -->*/

  .emprower-wrap .container .emp-big-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: var(--grey);
    margin-bottom: 16px;
  }

  .emprower-wrap .container .emp-small-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: var(--grey);
  }

  .emprower-wrap .container form {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .emprower-wrap .container form label {
    padding-top: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    display: block;
    margin: 16px 0 12px 0;
  }

  .emprower-wrap .container form input {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    padding: 20px 40px 20px 24px;
    display: inline-block;
    opacity: 0.3;
    background-color: var(--inputcolor);
    border-radius: 8px;
    border: none;
    display: block;
  }

  .emprower-wrap .container form select {
    padding: 20px 90px 20px 24px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey);
    display: block;
    border-radius: 8px;
    border: none;
    outline: none;
  }

  .emprower-wrap .container form .emp-btn {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    background-color: var(--green);
    color: var(--white);
    padding: 23px 66px;
    border: none;
    margin-top: 24px;
    border-radius: 8px;
  }

  /* imprower finished */

  /* footer started */
  footer {
    background-color: var(--black);
  }

  footer .container {
    display: block;
    justify-content: space-between;
    padding-top: 60px;
    gap: 60px;
    padding-bottom: 48px;
    max-width: 500px;
    margin: 0 auto;
    /* border: 1px solid red; */
  }

  footer .container .footer-left .footer-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    margin-top: 24px;
    margin-bottom: 56px;
  }

  .logo-footer {
    margin-bottom: 30px;
  }

  .footer-center {
    display: flex;
    width: 302px;
    justify-content: space-between;
    /* border: 1px solid wheat; */
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-right {
    display: flex;
    width: 300px;
    justify-content: space-between;
    /* border: 1px solid wheat; */
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    margin-top: 30px;
  }

  footer .container .footer-center ul li a,
  footer .container .footer-right ul li a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: var(--white);
  }

  footer .container .footer-center ul,
  footer .container .footer-right ul {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    margin-bottom: 16px;
  }

  #foot {
    margin-top: 30px;
  }

  .footer-botton .con {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 28px 100px;
  }

  .footer-botton .con .footer-botton-text a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--text-co);
    text-align: center;
  }

  /* footer finished */
}

/* Ipads and tablets (@media) finished*/

/* Mobile devices (@media) started */

@media screen and (min-width: 320px) and (max-width: 480px) {

  /* home started */
  .container {
    padding: 0 15px;
  }

  .home-wrap .navbar {
    display: none;
  }

  .home-wrap .header .navbar-mobile {
    display: flex;
    margin-bottom: 58px;
  }

  .home-wrap .header-content {
    flex-direction: column;
  }

  .home-wrap .header-left-content {
    margin-right: 0;
  }

  .home-wrap .header-left-content {
    width: 100%;
  }

  .home-wrap .header-left-content h1 {
    max-width: 320px;
    font-size: 24px;
    line-height: 36px;
  }

  .home-wrap .header-left-content p {
    max-width: 280px;
    font-size: 12px;
    line-height: 24px;
    margin: 12px 0 24px 0;
  }

  .home-wrap .header-buttons {
    flex-direction: column;
    text-align: center;
  }

  .home-wrap .header-left-content a:first-child {
    font-size: 18px;
    margin-left: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .home-wrap .header-left-content a:last-child {
    font-size: 18px;
    margin-left: 0;
    width: 100%;
    margin-bottom: 20px;
  }

  .home-wrap .header-right-content img {
    width: 100%;
  }

  .navbar-mobile-block {
    display: block;
  }

  .navbar-mobile-block ul {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }

  .navbar-mobile-block ul li a {
    color: var(--black);
    font-weight: 500;
    font-size: 24px;
    line-height: 100px;
    align-items: center;
    align-self: center;
  }

  /* home finished */

  /* management started */
  .management-wrap .container {
    margin: 0px auto;
    padding-top: 300px;
    padding-bottom: 40px;
  }

  .management-wrap marquee a img {
    width: 100px;
    height: 50px;
    margin-left: 30px;
  }

  .management-wrap .for-video {
    margin-top: 17px;
  }

  .management-wrap .for-video h4 {
    font-size: 15px;
  }

  .management-wrap .for-video h2 {
    font-size: 31px;
    line-height: 48px;
  }

  .management-wrap .for-video h6 {
    font-size: 15px;
  }

  .management-wrap .for-video video {
    width: 270px;
    height: 210px;
    margin: 30px;
  }

  /* management finished */

  /* features started */
  .featuries-tap-bar {
    display: none;
  }

  .featuries-accordion {
    display: block;
  }

  .features-wrap-title p {
    font-size: 15px;
  }

  .features-wrap-title h1 {
    font-size: 24px;
    line-height: 46px;
  }

  .accordion {
    background-color: #f3fbf6;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1.5px solid #dedede;
    position: relative;
  }

  .accordion img {
    width: 30px;
  }

  .accordion i {
    position: absolute;
    right: 10px;
  }

  .active,
  .accordion:hover {
    color: var(--green);
  }

  .accordion:hover i {
    transform: rotate(180deg);
  }

  .panel {
    padding: 18px 16px;
    display: none;
    background-color: #f3fbf6;
    overflow: hidden;
  }

  .panel p {
    font-size: 15px;
  }

  .panel p a {
    color: var(--green);
  }

  .panel img {
    max-width: 90%;
    margin-top: 30px;
  }

  /* features finished */

  /* FAst work started */
  .fast-about-image>img {
    max-width: 570px;
  }

  .fastwork-in {
    flex-direction: column;
    gap: 50px;
  }

  hr {
    display: none;
  }

  .container {
    padding: 0 15px;
  }

  .fast-about-image>img {
    max-width: 570px;
  }

  .fastwork-in {
    margin-top: 37px;
    display: flex;
    gap: 30px;
  }

  .fastwork-text p {
    /* margin-left: 80px; */
    text-align: center;
  }

  .fastwork-about-text h1 {
    font-size: 32px;
    /* font-weight: 8px; */
  }

  .fastwork-about {
    flex-direction: column;
  }

  .fastwork-about {
    display: flex;
    gap: 100px;
  }

  .fast-about-image {
    display: flex;
    justify-content: center;
    max-width: 400px;
  }

  .fast-about-image>img {
    width: 100%;
  }

  .fastwork-one p {
    font-size: 14px;

  }

  .fastwork-one span {
    font-size: 28px;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .fastwork-in {
    padding-top: 37px;
    margin: 0 auto;
  }

  /* .fast-about-image{
            position: relative;
        }  */
  .circular-wrapper {
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 320px;
    padding: 20px 15px;
    border-radius: 8px;
    background: #fff;
  }

  .circular-wrapper p {
    font-size: 14px;
    font-weight: 400;
    margin-left: 0px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ccc;
  }

  .circular-wrapper i {
    margin-left: 10px;
    color: rgb(38, 16, 204);
  }

  .wrapper_about {
    display: flex;
  }

  .circular-progress {
    position: relative;
    height: 110px;
    width: 110px;
    background: conic-gradient(#0ad959 3.6deg, #ededed 0deg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circular-progress::before {
    content: "";
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: #fff;
  }

  .progress-value {
    position: relative;
    font-size: 35px;
    font-weight: 600;
    color: var(--grey);
  }

  /* Fast work finished */

  /* Fast work finished */

  /* industries started */
  .industries_leftbox {
    width: 100%;
  }

  .industries_rightbox {
    width: 100%;
    padding: 0;
  }

  .industries_box {
    flex-direction: column-reverse;
  }

  #main_title {
    font-size: 22px;
    line-height: 32px;
  }

  .rightbox_title {
    font-size: 10px;
  }

  .rightbox_text {
    font-size: 10px;
    line-height: 18px;
  }

  .smallbox_title {
    font-size: 14px;
  }

  .rightbox_bottom_flex {
    margin-bottom: 25px;
    font-size: 17px;
  }

  .industries_leftbox {
    text-align: center;
  }

  .akardion_1 {
    font-size: 14px;
  }

  /* industries finished */

  /* customer started */
  .wrapper i:first-child {
    left: 50px;
  }

  .wrapper i:last-child {
    right: 100px;
  }

  .customer-img-box img {
    display: none;
  }

  .carousel .card span {
    font-size: 16px;
  }

  .wrapper i:before {
    display: none;
  }

  .wrapper i:after {
    display: none;
  }

  .card .div {
    font-size: 18px;
    align-items: center;
    max-width: 480px;
  }

  .text-box {
    margin: 18px auto 5px;
    text-align: center;
    width: 320px;
  }

  .customer-texts h2 {
    width: 320px;
    font-weight: bolder;
    font-size: 25px;
    line-height: 25px;
  }

  .customer-texts h3 {
    margin-bottom: 10px;
    width: 320px;
    font-weight: 800;
    font-size: 21px;
    line-height: 25px;
  }

  .card div h3 {
    font-size: 14px;
  }

  .card div p {
    font-size: 14px;
  }

  /* customer finished */

  /* imprower  started*/
  .emprower-wrap .container .emp-big-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: var(--grey);
    margin-bottom: 16px;
  }

  .emprower-wrap .container .emp-small-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: var(--grey);
  }

  .emprower-wrap .container form {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .emprower-wrap .container form label {
    padding-top: 16px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    display: block;
    margin: 16px 0 12px 0;
  }

  .emprower-wrap .container form input {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    padding: 20px 40px 20px 24px;
    display: inline-block;
    opacity: 0.3;
    background-color: var(--inputcolor);
    border-radius: 8px;
    border: none;
    display: block;
  }

  .emprower-wrap .container form select {
    padding: 20px 90px 20px 24px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey);
    display: block;
    border-radius: 8px;
    border: none;
    outline: none;
  }

  .emprower-wrap .container form .emp-btn {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    background-color: var(--green);
    color: var(--white);
    padding: 23px 96px;
    border: none;
    margin-top: 24px;
    border-radius: 8px;
  }

  /* imprower  finished*/

  /* footer started */
  footer {
    background-color: var(--black);
  }

  footer .container {
    display: block;
    justify-content: space-between;
    padding-top: 60px;
    gap: 60px;
    padding-bottom: 48px;
    max-width: 300px;
    margin: 0 auto;
    /* border: 1px solid red; */
  }

  footer .container .footer-left .footer-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    margin-top: 24px;
    margin-bottom: 56px;
  }

  .logo-footer {
    margin-bottom: 30px;
  }

  .footer-center {
    display: flex;
    width: 280px;
    justify-content: space-between;
    /* border: 1px solid wheat; */
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-right {
    display: flex;
    width: 280px;
    justify-content: space-between;
    /* border: 1px solid wheat; */
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--white);
    margin-top: 30px;
  }

  footer .container .footer-center ul li a,
  footer .container .footer-right ul li a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: var(--white);
  }

  footer .container .footer-center ul,
  footer .container .footer-right ul {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    margin-bottom: 16px;
  }

  #foot {
    margin-top: 30px;
  }

  .footer-botton .con {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 28px 100px;
  }

  .footer-botton .con .footer-botton-text a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--text-co);
    text-align: center;
  }

  /* footer finished */
}

/* Mobile devices (@media) finished */

/* Unsupported devices (@media) started */

@media screen and (max-width: 319px) {
  .unsupported-device {
    display: block;
    background-color: #cff1dc;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    font-family: "Poppins";
  }

  .unsupported-device p {
    font-weight: 700;
    color: var(--black);
    position: absolute;
    font-size: 32px;
    text-align: center;
    padding: 0 15px;
    top: 45%;
    left: 50%;
    transform: translateY(-45%);
    transform: translateX(-50%);
  }
}

/* Unsupported devices (@media) finished */

/* MEDIA FINISHED */